// ==================================================================================
// Settings
// ==================================================================================


$imagePath : "../images";


$susy: (
  columns: 12,
  gutter-position: inside,
  math: fluid,
  output: float,
  gutters: 1/4,
  flow: ltr,
);