// ==================================================================================
// Wrap
// ==================================================================================

.l-wrap {
  width: 90%;
  @include container(1170px);
}

.content {
  margin: 0 auto;
}

.content-w {
  max-width: 1000px;
}

.introduction-sub {
  text-align: center;
  padding: 2em 0 8em;

  .copy {
    p {
      font-size: 21px;
    }
  }
}